#calculator-container{
    background-color: rgb(41, 97, 119);
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    gap: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#calculator-display{
    flex: 1;
    background-color: rgb(140, 180, 196);
    padding: 15px 10px;
    text-align: end;
    font-size: 35px;
    border-radius: 10px;
}
#btn-container{
    width: 550px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: stretch;
}
button{
    flex-basis: 20%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
.digit-btn,
.operator-btn,
.equals-btn,
.decimal-btn{
    flex-grow: 1;
}
.clear-btn,
.back-btn{
    flex-basis: 48%;
    flex-grow: 4;
    background-color: rgb(172, 172, 172);
}
.operator-btn{
    background-color: rgb(202, 56, 56);
    color: white;
}
.equals-btn{
    background-color: rgb(202, 180, 56);
}